/* css styles */

#vcenter {
    vertical-align: middle;
}

.callout .shinylive-wrapper {
    border: none;
    box-shadow: none;
    margin: 0;
}

.someclass {
    fill: rgb(240, 102, 255);
}

.panel-tabset .shinylive-container {
    max-height: calc(80vh - 110px);
    overflow: auto;
    margin-bottom: 20px;
}


.navbar-logo {
  max-height: 60px;
}